.large-title {
  font-weight: 100;
  font-size: 6rem;
  padding: 1rem;
}
.midtitle {
  font-weight: 200;
  font-size: 3rem;
}
.btwclock {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.spinbtn {
  font-weight: 200;
  font-size: 3rem;
}
